@use 'variables.scss' as variables;

#container {
    margin: 20% 10%;
    padding: 4% 0;
}

h1 {
    font: variables.$font-title-typography;
    font-size: 90%;
    color: transparent;
    background: variables.$gradient-title-color;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 1%;
    margin-bottom: 1%;
}

p {
    font: normal 80% 'raleway', san-serif;
    text-align: left;
    white-space: normal;
    text-indent: 10vw;
    margin: 0.8%;
}

a {
    text-decoration: none;
    color: variables.$tag-color;
}

@media (max-width: 1245px) {
    #container {
        padding: 45% 0;
    }
}
