<section id="about-me">
    <article>
        <div id="container">
            <div class="about-me">
                <h1>SOBRE MIM</h1>
                <p>Olá! Meu nome é Edilson Segundo, sou desenvolvedor web e apaixonado por tecnologia. Atualmente estou cursando Engenharia de Software no Centro Universitário Internacional (UNINTER). Desde 2022, venho estudando e me aprimorando em diversas tecnologias, como HTML, CSS, JavaScript, Typescript, Angular, SASS, PHP, MySQL, Node.js, Express, entre outras. Estou sempre em busca de novos desafios e oportunidades para aprender e me desenvolver profissionalmente. 
                <br>
                <br>
                Confira alguns dos meus <a href="#melhores-projetos">melhores projetos</a>.
            </div>
        </div>
    </article>
</section>
