@use 'variables.scss' as variables;

#container {
    margin: 20% 10%;
    padding: 4% 0;
}

h1 {
    font: variables.$font-title-typography;
    font-size: 1.7em;
    color: transparent;
    background: variables.$gradient-title-color;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 1%;
    margin-bottom: 1%;
}

p {
    font: normal 1.5625em 'raleway', san-serif;
    text-align: justify;
    letter-spacing: 0.03em;
    text-indent: 2em;
    margin: 0.8%;
}

a {
    text-decoration: none;
    color: variables.$tag-color;
}