$background-body-gradient: linear-gradient(to bottom, #200214 10%, #000000 34%, #000000 73%, #28051A 100%);


$tag-color: #E4118F;
$font-color: #FFFFFF;
$gradient-title-color: gradient(to right 45deg, #5B0BAD, #E4118F);