// color palette
$background-body-gradient: linear-gradient(to bottom, #200214 10%, #000000 34%, #000000 73%, #28051A 100%) no-repeat center center;
$gradient-title-color: linear-gradient(to right, #5B0BAD, #E4118F);
$tag-color: #E4118F;
$font-color: #FFFFFF;
$font-color-web: #D5ACFF;

// typography
$font-title-typography: bold 1.4em 'Prosto One', sans-serif;
$font-title-typography-mobile: bold 4.7vw 'Prosto One', sans-serif;