button {
    margin-left: 22%;
    margin-top: 5%;
    height: 80%;
    width: 50%;
    border: none;
    border-radius: 90px;
    color: white;
    background-color: rgba(255, 255, 255, 0.075);
    font: lighter 0.8em 'K2D', sans-serif;
}