* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    background: $gradient-title-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

span {
    color: $font-color-web;
    vertical-align: 0.7em;
    margin-left: 0;
}

@media (max-width: 1023px) {
    section {
        flex-direction: column;
        width: 90%;
        margin-top: 30vh;
        font: $font-title-typography-mobile;
        letter-spacing: 0.1em;
    }

    .title-home {
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
    }

    .title-home #app-download-button {
        margin: auto;
        margin-top: 10%;
    }

    img {
        flex-direction: column;
        max-width: 55%;
        height: auto;
    }

    h2 {
        align-self: flex-start;
        align-items: center;
        margin-left: 0.7vw;
        letter-spacing: 0.5em;
        font: lighter 3.5vw 'raleway', sans-serif;
        margin-top: -1.5vw;
    }

    span {
        font-size: 3.5vw;
    }
}

@media (min-width: 1024px) {
    section {
        flex-direction: row;
        width: 50%;
        margin-top: 16%;
        font: $font-title-typography;
        letter-spacing: 0.2em;
    }

    .title-home {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .title-home #app-download-button {
        margin: auto;
        margin-top: 5%;
        margin-right: 34.5%;
    }

    img {
        flex-direction: row;
        max-width: 100%;
        height: auto;
        margin-right: 2%;
    }

    h2 {
        align-self: flex-start;
        align-items: center;
        margin-top: -1%;
        margin-left: 1%;
        letter-spacing: 1em;
        font: lighter 0.5em 'raleway', sans-serif;
    }

    span {
        font-size: 0.5em;
        vertical-align: 0.6em;
        margin-left: -0.8%;
    }
}
