@use 'variables.scss' as variables;

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#menu-hamburguer-mobile {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    ul {
        list-style: none;
        padding: 0;
        a {
            text-decoration: none;
            color: variables.$font-color;
        }
    }
    span.tag {
        color: variables.$tag-color;
        font-weight: bolder;
    }
}

@media (max-width: 1245px) {
    nav {
        flex-direction: row;
        margin-left: 5vw;
        margin-top: 2vh;
        
        #name-mobile {
            margin-left: 7vw;
            font: lighter 5vw 'k2d', sans-serif !important;
            font-style: italic;
            letter-spacing: 15%;
            text-decoration: none;
            color: variables.$font-color;
        }

        span {
            color: variables.$font-color;
            font-size: 12vw !important;
        }
    }

    menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.776);
        width: 100vw;
        height: 40vh;
        justify-content: center;
        animation: slideDown 0.5s ease-in-out forwards;

        @keyframes slideDown {
            from {
                transform: translateY(-100%);
                opacity: 0;
            }
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        #name {
            display: none;
        }

        ul {
            flex-direction: column;
            margin-top: 20%;
            margin-left: 12%;

            li {
                margin-bottom: 10%;
            }
        }
    }

    #menu-hamburguer-mobile {
        display: block;
    }
}

@media (min-width: 1245px) {
    #menu-hamburguer-mobile {
        display: none;
    }

    #name-mobile {
        display: none;
    }

    menu {
        margin-top: 1%;
        margin-right: 1.5%;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1%;
            justify-content: space-evenly;

            #name {
                margin-left: -2%;
                margin-right: 10%;
                font: lighter 1.3em 'k2d', sans-serif !important;
                font-style: italic;
                letter-spacing: 15%;
            }
        }
    }
}