<header>
    <nav>
        <ul>
            <li id="menu-inicial"><a href="#inicio">
                EDILSON SEGUNDO
            </a></li>
            
            <li><a href="#sobre-mim">
                <span class="tag"><</span> SOBRE MIM <span class="tag">></span>
            </a></li>

            <li><a href="#habilidades">
                <span class="tag"><</span> HABILIDADES <span class="tag">></span>
            </a></li>

            <li><a href="#projetos">
                <span class="tag"><</span> PROJETOS <span class="tag">></span>
            </a></li>

            <li><a href="#contatos">
                <span class="tag">< </span> CONTATOS <span class="tag"> ></span>
            </a></li>
        </ul>
    </nav>
</header>
