
<header>
    <nav id="menu">
        <ul>
            <li><a routerLink="/edilson-segundo">
                Edilson Segundo
            </a></li>
            
            <li><a routerLink="/sobre-mim">
                <span class="tag"><</span>SOBRE MIM<span class="tag">></span>
            </a></li>

            <li><a routerLink="/habilidades">
                <span class="tag"><</span>HABILIDADES<span class="tag">></span>
            </a></li>

            <li><a routerLink="/projetos">
                <span class="tag"><</span>PROJETOS<span class="tag">></span>
            </a></li>

            <li><a routerLink="/contatos">
                <span class="tag"><</span>CIBTATIS<span class="tag">></span>
            </a></li>
        </ul>
    </nav>
</header>