<header>
    <nav>
        <button id="menu-hamburguer-mobile" (click) = toggleMenu()>
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>

        <a id="name-mobile" class="menu-up menu-down" href="#">EDILSON SEGUNDO</a>
    </nav>
    <menu id="menu-navigation">
        <ul>
            <li id="name"> <a href="#">
                EDILSON SEGUNDO
            </a></li>

            <li><a href="#about-me">
                <span class="tag"><</span> SOBRE MIM <span class="tag">></span>
            </a></li>

            <li><a href="#habilidades">
                <span class="tag"><</span> HABILIDADES <span class="tag">></span>
            </a></li>

            <li><a href="#projetos">
                <span class="tag"><</span> PROJETOS <span class="tag">></span>
            </a></li>

            <li><a href="#contatos">
                <span class="tag"><</span> CONTATOS <span class="tag">></span>
            </a></li>
        </ul>
    </menu>
</header>
